<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <td>id</td>
        <td>email</td>
        <td>password</td>
        <td>birthday</td>
        <td>sex</td>
        <td>loginCount</td>
        <td>lastLoginTime</td>
        <td>update</td>
        <td>delete</td>
    </tr>
    <tr th:each="user : *{users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.birthday}"></td>
        <td th:text="${user.sex}"></td>
        <td th:text="${user.loginCount}"></td>
        <td th:text="${user.lastLoginTime}"></td>
        <td><a th:href="@{toUpdate(id=${user.id})}">更新</a></td>
        <td><a th:href="@{delete(id=${user.id})}">删除</a></td>
        <td ></td>
        <td ></td>
    </tr>
</table>
<br>
<a href="toAddUser">添加用户</a>
</body>
</html>